/* Add this style to give some space between social icons, dark mode switch, and button menu */
#footer {
  display: flex;
  align-items: center; /* Center items horizontally */
  justify-content: space-between; /* Add space between social icons, dark mode switch, and button menu */
  gap: 16px; /* Adjust as needed */
}

/* Container for social icons and dark mode switch */
.social-dark-container {
  display: flex;
  align-items: center; /* Center items horizontally */
  gap: 10px; /* Adjust the gap between icons */
}

/* Dark mode switch styling (adjust as needed) */
.dark-mode-switch-container {
  display: inline-block;
  margin-left: 2px; /* Adjust the margin to match the spacing of other icons */
}

.dark-mode-switch-label {
  cursor: pointer;
  display: inline-block;
}

#dark-mode-switch {
  display: none; /* Hide the checkbox */
}

#dark-mode-switch-icon {
  width: 16px; /* Adjust the width to your preference */
  height: 16px; /* Adjust the height to your preference */
  filter: grayscale(100%); /* Apply grey filter */
}

#dark-mode-switch-label:hover #dark-mode-switch-icon {
  filter: grayscale(0%); /* Remove grey filter on hover */
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px; /* Adjust the gap between icons */
}

.icon-link {
  transition: transform 200ms ease-in-out, color 0.3s;
}

.icon-link:hover {
  cursor: pointer;
  transform: rotate(15deg);
