/* Container for the entire footer */
#footer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  gap: 16px;
}

/* Social icons and dark mode switch container */
#social-icons-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Dark mode switch styling (adjust as needed) */
.dark-mode-switch-container {
  display: inline-block;
  margin-left: 2px;
}

.dark-mode-switch-label {
  cursor: pointer;
  display: inline-block;
}

#dark-mode-switch {
  display: none;
}

#dark-mode-switch-icon {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
}

#dark-mode-switch-label:hover #dark-mode-switch-icon {
  filter: grayscale(0%);
}

/* Button Menu Styling */
.button-menu-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  gap: 10px;
}

.button-menu-item {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.button-menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
