/* dark-mode.css */
body {
  background-color: #1e1e1e;
  color: #ffffff;
}
.moon-icon {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: 4px; /* Adjust the left position as needed */
  width: 16px;
  height: 16px;
  background-image: url('https://futuregotze.github.io/assets/icons/darkmoon.svg'); /* Replace with the path to your moon icon */
  background-size: cover;
}
