/* hamburger-icon.css */

.hamburger-menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin: 15px; /* Adjust margin as needed */
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333; /* Adjust background color as needed */
}
