.mobile-menu {
  display: none;
  position: fixed;
  top: 60px; /* Adjust the top position based on your header height */
  left: 0;
  width: 100%;
  background-color: #fff; /* Adjust background color */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Add box shadow if desired */
  z-index: 1001;
}

.mobile-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333; /* Adjust text color */
}
