/* Common styles for both desktop and mobile */
:root {
  --primary-text-color: #333333;
  --background-color: #ffffff;
  --navbar-background: #ffffff;
  --button-background: #4CAF50;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --primary-text-color: #ffffff;
  --background-color: #333333;
  --navbar-background: #222222;
  --button-background: #2E7D32;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

.navbar,
.mobile-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--navbar-background); /* Use variable for background color */
  transition: opacity 1.5s; /* Adjust transition speed */
}

.navbar.hidden {
  opacity: 0;
}

.nav-title-link,
.mobile-menu a {
  text-decoration: none;
  color: var(--primary-text-color); /* Use variable for text color */
  font-family: inherit;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
}

.mobile-menu a {
  display: block;
  margin-bottom: 10px; /* Adjust the margin as needed for spacing between items */
}

/* Desktop styles */
@media screen and (min-width: 601px) {
  .mobile-navbar {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color); /* Use variable for text color */
    padding: 10px;
  }

  .button {
    margin-left: 15px;
  }

  .nav-title {
    margin-right: auto;
  }
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  .navbar {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--navbar-background); /* Use variable for background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }

  .button-container {
    display: none;
  }

  .mobile-menu {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: var(--navbar-background); /* Use variable for background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .hamburger-icon {
    font-size: 30px;
    color: var(--primary-text-color); /* Use variable for text color */
    cursor: pointer;
  }
}
