/* CSS for the initial state of the navbar */
.scroll-fade {
  opacity: 1;
  transition: opacity 0.2s; /* Faster disappearance, adjust as needed */
}

.scroll-fade.visible {
  opacity: 0;
  transition: opacity 0.2s; /* Slower reappearing, adjust as needed */
}
