/* CSS for the initial state of the navbar */
.scroll-fade {
  opacity: 1; /* Initially visible */
  transition: opacity 0.5s; /* Adjust the duration as needed */
}

/* CSS for the hidden state of the navbar */
.scroll-fade.hidden {
  opacity: 0; /* Gradually becomes invisible when scrolling */
}
