.tree {
  list-style: none;
  padding-left: 20px;
  margin-top: 120px;
}

.tree li {
  margin-bottom: 5px;
}

.tree summary {
  cursor: pointer;
}

.tree details summary::before {
  content: url('./assets/icons/folder-3.png');
  display: inline-block;
  width: 16px; /* Adjust the width and height based on your icon dimensions */
  height: 16px;
  margin-right: 5px;
  transform: rotate(0deg);
  transition: transform 0.2s ease-out;
}

.tree details[open] summary::before {
  transform: rotate(90deg);
}

.tree li ul {
  margin-top: 5px;
  padding-left: 20px;
}

.tree li ul li {
  margin-bottom: 5px;
}

/* Hide the default marker for WebKit browsers */
.tree details summary::-webkit-details-marker {
  display: none;
}

/* Reset the list-style-type to none for all lists */
ul, ol {
  list-style-type: none;
}
