 /* Icons */
.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  transform: rotate(15deg); /* Add a transform property */
}
/* Add this style to give some space between social icons and button menu */
#footer {
  display: flex;
  flex-wrap: wrap; /* Allow the social icons and button menu to wrap on small screens */
  gap: 16px; /* Adjust as needed */
}


/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between; /* Pushes the buttons to the right */
  align-items: center;
  padding: 10px 20px; /* Adjust as needed */
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none; /* Disable pointer events when hidden */
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white;
  }
}

/* Button Styling */
/* Add a white square over a black square as the list-style */
.skills-list li {
  list-style: square inside url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><rect width="10" height="10" fill="black"/><rect x="2" y="2" width="6" height="6" fill="white"/></svg>');
}

/* Center the main title */
.center-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Make sub-titles (categories) bold */
.skills-category-title {
  font-weight: bold;
  margin-bottom: 10px; /* Add spacing between category titles and lists */
}

/* Arrange skills in three columns */
.skills-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-column {
  width: calc(33.33% - 20px); /* Adjust the width and margin as needed */
  margin: 0 10px;
  padding: 0;
}

/* Adjust the width of .skills-category-title, .skills-list, and .skills-list li as needed */
.skills-category-title,
.skills-list,
.skills-list li {
  width: 100%; /* Makes sub-titles and skills span the whole column */
}

/* Button Styling */
a.button {
  padding: 8px 16px;
  border: var(--button-border);
  outline: 2px solid var(--button-outline-color)
  border-radius: 50px;
  color: var(--button-text-color);
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  margin: 0 10px;
}

/* ... Other existing styles ... */


a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.button-container {
  padding-right: 20px; /* Adjust as needed */
}

/* Footer Styling */
#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black;
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}
